<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Noticias</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <header>
        <h1>Aplicación de Noticias</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <!-- <li><a href="/templates/noticias.html">Noticias</a></li> -->
                <!-- Agrega más enlaces de navegación si es necesario -->
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Últimas Noticias</h2>
            <ul id="ultimas-noticias-fecha-mas-reciente">
                <!-- Aquí se mostrarán las últimas noticias -->
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Tu Aplicación de Noticias</p>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>
