<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Noticias</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Incluye Bootstrap para estilos rápidos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0-beta3/css/bootstrap.min.css"> -->

</head>
<body>
    <header class="bg-primary text-white py-3">
        <div class="container">
            <h1>Aplicación de Noticias</h1>
            <nav>
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link text-white" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/noticias">Noticias</a></li>
                    <!-- Agrega más enlaces de navegación si es necesario -->
                </ul>
            </nav>
        </div>
    </header>

    <main class="container mt-4">
        <section>
            <h2>Últimas Noticias</h2>
            <div id="ultimas-noticias-fecha-mas-reciente" class="row">
                <!-- Aquí se mostrarán las últimas noticias -->
            </div>
        </section>
    </main>

    <footer class="bg-dark text-white py-3 mt-5">
        <div class="container text-center">
            <p>&copy; 2024 Tu Aplicación de Noticias</p>
        </div>
    </footer>

    <script src="/static/js/script.js"></script>
    <!-- Incluye Bootstrap JavaScript y Popper.js -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0-beta3/js/bootstrap.bundle.min.js"></script> -->

</html>
